<html>
  <head>
  <% include partials/head %>
  <title>상벌점</title>
  </head>
  <body>
  <% include partials/nav %>
    <div class="container" style="text-align:center;">
      <h1 style="text-align:left;">상/벌점 관리</h1>
      <hr/>
      <h4 style="margin-top:70px;">내 점수</h4>
      <% var p = 0; %>
      <% for(var i=0;i<rp.length;i++){ p -= rp[i].point } %>
      <% for(var i=0;i<gp.length;i++){ p += gp[i].point } %>
      <h1 style="margin-bottom:70px;">
      <%if(p>0){%><span style="color:green;">상점</span> <%= p %>점<%}%>
      <%if(p<=0){%><span style="color:red;">벌점</span> <%= -p %>점<%}%>
      </h1>
      <hr/>
      <div class="container" style="text-align:left;">
      <div class="tabbable"> <!-- 왼쪽과 오른쪽 탭에만 필요 -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">벌점기록</a></li>
          <li><a href="#tab2" data-toggle="tab">상점기록</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <table class="table table-hover">
            <thead>
            <tr>
                <th>날짜</th>
                <th>점수</th>
                <th>사유</th>
            </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<rp.length;i++){ %>
                <tr>
                  <td><%= formatDate(rp[i].date) %></td>
                  <td><%= rp[i].point %></td>
                  <td><%= rp[i].why %></td>
                </tr>
              <%}%>
            </tbody> 
            </table>
          </div>
          <div class="tab-pane" id="tab2">
            <table class="table table-hover">
            <thead>
            <tr>
                <th>날짜</th>
                <th>점수</th>
                <th>사유</th>
            </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<gp.length;i++){ %>
                <tr>
                  <td><%= formatDate(gp[i].date) %></td>
                  <td><%= gp[i].point %></td>
                  <td><%= gp[i].why %></td>
                </tr>
              <%}%>
            </tbody> 
            </table>
          </div>
        </div>
</div>
      </div>
    </div>
    <h1><a href="/point/add">상벌점 주기</a></h1>
  </body>
</html>