<html>
  <head>
  <% include partials/head %>
  <title>잔류</title>
  </head>
  <body>
  <% include partials/nav %>
  <script>
    function formatDate(date) {
      var d = new Date(date), 
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      return [year, month, day].join('-');
    } 
         
    <% for(var i=0; i<gooutInfos.length; i++){ %>
      $.ajax({
        type: 'GET',
        url: '/api/findstu',
        data: { user_id: '<%= gooutInfos[i].user_id %>' }
      })
      .done(function(result){
        var rr = "<tr>" + result;
        rr += "<td>" + formatDate("<%=gooutInfos[i].date%>".slice(0,15)) + "</td>";
        rr += "<td>" + "<%=gooutInfos[i].starttime%>"+"~"+"<%=gooutInfos[i].stoptime%>"+ "</td>"; 
        rr += "<td>" + "<%=gooutInfos[i].why%>" + "</td>";
        rr += "</tr>"
        $("#result").append(rr);
      })
      .fail(function(xhr, status, errorThrown) {
        console.log('오류');
      })
      .always(function(xhr, status) {
        console.log('요청 완료')
      });
      <% } %>
  </script>
  <div class="container">
    <h1>잔류학생 외출/외박 신청</h1>
    <hr/>
    <table class="table table-hover">
    <thead>
    <tr>
        <th>학년</th>
        <th>반</th>
        <th>번호</th>
        <th>이름</th>
        <th>날짜</th>
        <th>시간</th>
        <th>사유</th>
    </tr>
    </thead>
    <tbody id="result">
    </tbody> 
    </table>
    
    <hr/>
    <a class="btn btn-default pull-right">외출/외박 신청</a>

    <div class="text-center">
        <ui class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>  
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ui>
    </div>
   </div>
    <ul>
    <%- gooutInfos %>
    <h2><a href="/stay/goout">외박신청 하기</a></h2>
  </body>
</html>